:root{
    margin: 20px;
}
button{
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 30px;
    border: none;
    margin-top: 15px;
   
}

button:hover{
    background-color: rgb(5, 62, 5);
}

.pop-up{
    border: solid 1px grey;
   border-radius: 2px;
   width: 80%;
   margin: 5rem auto;
   height: 30vh;
   display: grid;
   place-items: center;
}



.closed{
    display: none;
}